<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>71672905443-sip63vpenfdaculavtj2fa7s1886nepk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71672905443-sip63vpenfdaculavtj2fa7s1886nepk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>71672905443-1qvn2viv9o0r1mj4qt72vo56k472u8h1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA5-3a_oEoaB2iPABOvtg6uF31lr6JjHQU</string>
	<key>GCM_SENDER_ID</key>
	<string>71672905443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.Blades</string>
	<key>PROJECT_ID</key>
	<string>blade-a1544</string>
	<key>STORAGE_BUCKET</key>
	<string>blade-a1544.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71672905443:ios:e561a1beb733d468c48fd6</string>
</dict>
</plist>